*.hex
*.bin
*.elf
*.eep
*.obj
*.o
*.srec

*.map
*.lst
*.lss
*.sym

*.d
*.dep

.atmelstart/
Debug/
Release/
*.atsuo
*.atstart
*.atpc
*.pjt

.pio/
.pioenvs/
.piolibdeps/
.vscode/

build/
libraries/

.DS_Store
Thumbs.db

*.log
